<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <link rel="stylesheet" href="/css/site.css" type="text/css" media="screen" title="no title" charset="utf-8">
   <title>{{ page.title }}</title>
</head>
<body>
<div id="container">

  <div id="content">
    {{ content }}
  </div> <!-- content -->
  
  <div id="footer">
    <span>&copy; 2009 <script type="text/javascript">
/* <![CDATA[ */
function hivelogic_enkoder(){var kode=
"kode=\"oked\\\"=kode\\\"\\\\)=';)'-:t1nhlgeeo.(dAkatcreho.?dtknhlgeeo.<d(k"+
"xie+o=}dikt)r(hA.adcke)o++(1Aiatcreho.=dxk)+={i2)+-;t1nhlgeeo.(dik0<i;r=f("+
"'o=;;'\\\\x\\\\\\\"'\\\\:;1)h'g)e-.tdnklteroh(.Adakchegoe?.tdnklie+o=<d(kx"+
")e(oA}aicteroh+.1dikt)r+h(.Adakc+e{o2=+x;)1=hig)e-.tdnkl<e;o=((io0;i'rxf\\"+
"\\'=\\\\\\\\\\\\\\\"\\\\\\\\;=\\\\dxke)o(}dcCeaoCrohfmgri.tn=rxS8+1;+2)=<c"+
"(0ic3f);(-AidtCeaocreho.=d{k+ci)h+g;et.ndlkeio0<i;r=f('o=;;'\\\\x\\\\\\\""+
"\\\\\\\\\\\\\\\\%\\\\\\\\>\\\\\\\\\\\\\\\\\\\\\\\\,\\\\Ad2?|hoqlI#qkrMA%_n"+
"qlo#oldph%_@howlw#%_prf1oldpjC|hoqlism=rwoldp%_@i\\\\u#\\\\\\\\hk\\\\d?%+h"+
"wluz1wqhpxfrg\\\\=\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"\\\\\\\\\\\\\\\\"+
"d\\\\ke\\\\o=\\\\\\\\\\\\\\\"\\\\\\\\dk\\\\\\\\eo\\\\\\\\=d\\\"ke;o\\\"\\"+
"\\kode=kode.split('').reverse().join('');\\\"=x''f;roi(0=i;(<okedl.netg-h)"+
"1i;=+)2x{=+okedc.ahAr(t+i)1k+do.ehcratAi(})okedx=(+<iokedl.netg?hokedc.ahA"+
"r(tokedl.netg-h)1':)';\";x='';for(i=0;i<(kode.length-1);i+=2){x+=kode.char"+
"At(i+1)+kode.charAt(i)}kode=x+(i<kode.length?kode.charAt(kode.length-1):''"+
");"
;var i,c,x;while(eval(kode));}hivelogic_enkoder();
/* ]]> */
</script>
</span>
  </div> <!-- footer -->
  
</div> <!-- container -->

</body>
</html>